.shop {
    display: flex;
    border-bottom: 1px solid #ccc;

    .info {
        text-align: left;
        width: 80%;
        border-right: 1px solid #ccc;
        font-weight: bold;

        li {
            list-style: none;
        }
    }

    .setting {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            border-radius: 5px;
            color: aqua;
            background-color: black;
            width: fit-content;
            margin-left: 20%;
        }
    }
}

.list-book {
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    display: flex;
    margin-top: 10px;

    .book-table {
        // border: 1px solid #ccc;
        // border-left: none;
        width: 100%;

        th,
        td {
            border: 1px solid #ccc;
            border-left: none;
            text-align: center;
        }

        button {
            margin: 3px;
            border-radius: 5px;
            padding: 0;
            color: aqua;
            background-color: black;
        }
    }
}

.orders-filter {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

    table {
        td {
            width: 150px;
        }

        button {
            border-radius: 5px;
            color: aqua;
            background-color: black;
        }
    }
}

.list-orders {
    .order {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;

        table {
            text-align: left;

            td {
                width: 150px;
            }
        }
    }

    .view-button {
        text-align: left;
    }

    .update-button {
        text-align: left;
    }

    .orderItems {
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    button {
        padding: 0;
        border-radius: 5px;
        margin-top: 5px;
    }
}