.info-shopdetail {
    text-align: left;
    display: flex;
    justify-content: center;

    button {
        border-radius: 5px;
        color: aqua;
        background-color: black;
        padding: 0;
    }
}