.account {
    display: flex;
    border-bottom: 1px solid #ccc;
    font-weight: bold;

    .info {
        text-align: left;
        width: 80%;
        border-right: 1px solid #ccc;

        li {
            list-style: none;
        }
    }

    .setting {
        width: 20%;

        div {
            margin: 5px;

            button {
                border-radius: 5px;
                color: aqua;
                background-color: black;
            }
        }
    }
}

.orders {
    text-align: left;
    font-weight: bold;

    .orders-label {
        margin: 5px;
        font-size: 20px;
    }

    .order {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding-left: 10px;
    }
}