.account {
    display: flex;
    border-bottom: 1px solid #ccc;

    .info {
        width: 80%;
        border-right: 1px solid #ccc;
        padding: 10px;

        table {
            text-align: left;
        }
    }

    .setting {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            color: azure;
            border-width: 0;
            border-radius: 5px;
            background-color: rgb(245, 101, 48);

            &:hover {
                background-color: rgb(134, 224, 194);
            }
        }
    }
}

.orders {
    text-align: left;

    .orders-label {
        margin: 5px;
        font-size: 20px;
    }

    .order {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding-left: 10px;

        button {
            padding: 0px 2px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }

    .evaluate {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding-left: 10px;

        table {
            text-align: left;

            tr {
                border-bottom: 1px solid #ccc;

                td {
                    width: 150px;

                    input {
                        padding: 0;
                    }
                }
            }
        }

        button {
            padding: 0;
            border-radius: 5px;
        }
    }
}