.update-account {
    text-align: center;
    padding: 10px;
    font-weight: bold;

    button {
        margin-left: 10px;
        border-radius: 5px;
        color: aqua;
        background-color: black;
    }
}