.home {
    .filter {
        border-bottom: 1px solid #ccc;
    }

    .home-list-book {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
        justify-content: none;

        .item {
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            background-color: aquamarine;

            .image {
                .image-item {
                    height: 150px;
                    width: 200px;
                }
            }

            .info {
                padding: 5px;
                text-align: left;
            }
        }
    }

    .filter {
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 9px;
        padding: 5px;
        background-color: #ccc;

        .form {

            .price {
                width: 60px;
            }

            label {
                padding: 0;
            }

            input {
                padding: 0;
            }

            select {
                padding: 1.5px;
            }

            button {
                margin-left: 30px;
                border: 1px solid black;
                border-radius: 5px;
                padding: 0;
            }
        }
    }
}