.sidebar {
    background-color: hsl(0, 5%, 75%);
    color: black;
    overflow-y: auto;
}

.category {
    margin-bottom: 10px;

    .category-title {
        cursor: pointer;
        font-weight: bold;
    }

    .subcategory-list {
        list-style: none;
        padding-left: 15px;
    }

    .subcategory {
        margin: 5px 0;
        cursor: pointer;
    }
}