.bookdetail {
    background-color: #ccc;

    .book {
        display: flex;
        text-align: left;
        margin: 0;

        .image {
            border: 2px solid #ccc;
            border-radius: 10px;
            width: 65%;
            margin: 5px;
            margin-top: 10px;
            background-color: white;

            img {
                width: 30%;
                height: 200px;
                margin: 10px;
                margin-top: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
        }

        .info {
            border: 2px solid #ccc;
            border-radius: 10px;
            width: 35%;
            margin: 5px;
            margin-top: 10px;
            background-color: white;

            td {
                padding: 5px;
            }

            .label {
                color: #8a8282;
                font-size: small;
            }

            .title {
                font-size: 1.5rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .price {
                color: red;
                font-size: larger;
            }

            .number {
                display: flex;

                li {
                    text-align: center;
                    list-style: none;
                    border: 1px solid #ccc;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
            }

            .button {
                button {
                    border-radius: 5px;
                    border: 1px solid rgb(167, 81, 50);
                    color: white;
                    background-color: rgb(248, 97, 42);

                    &:hover {
                        background-color: rgb(167, 81, 50);
                    }
                }
            }
        }
    }

    .more {
        display: flex;

        .book-detail {
            border: 2px solid #ccc;
            border-radius: 10px;
            text-align: left;
            margin: 5px;
            width: 65%;
            background-color: white;

            table {
                width: 100%;

                tr {
                    border-bottom: 1px solid #ccc;
                }

                .one {
                    color: #6e6b6b;
                    font-size: 15px;
                }
            }
        }

        .shop {
            border: 2px solid #ccc;
            border-radius: 10px;
            text-align: left;
            margin: 5px;
            width: 35%;
            display: flex;
            background-color: white;

            li {
                list-style: none;
            }

            .shop-image {
                width: 42%;
                display: flex;
                justify-content: center;

                img {
                    margin-top: 50px;
                    height: 100px;
                    border-radius: 5px;
                }
            }

            .shop-info {
                width: 58%;

                li {
                    margin: 5px 0;
                }

                .detail {
                    margin-top: 50px;
                    padding-left: 5px;

                    .name {
                        font-size: larger;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }

                    .address {
                        font-weight: bolder;
                    }
                }

                button {
                    border-radius: 5px;
                    border: 1px solid rgb(167, 81, 50);
                    color: white;
                    background-color: rgb(248, 97, 42);

                    &:hover {
                        background-color: rgb(167, 81, 50);
                    }
                }
            }

        }
    }

    .description {
        .label {
            text-align: left;
        }

        border: 2px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        background-color: white;

        .content {
            text-align: left;
            padding-left: 10px;
        }
    }

    .rate {
        border: 2px solid #ccc;
        border-radius: 10px;
        text-align: left;
        margin: 5px;
        padding: 5px;
        background-color: white;

        table {
            .one {
                padding-left: 8px;
                color: #6e6b6b;
                font-size: small;
            }

            tr {
                td {
                    width: 150px;
                }
            }
        }
    }

    .comment {
        border: 2px solid #ccc;
        border-radius: 10px;
        text-align: left;
        margin: 5px;
        display: grid;
        background-color: white;

        .one {
            font-size: larger;
            font-weight: 500;
            padding: 11px;
        }

        .view-comment {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            padding-left: 10px;

            table {
                width: 100%;

                .name {
                    width: 10%;
                    color: #6e6b6b;
                }

                .content {
                    width: 90%;
                }
            }
        }
    }
}