.book {
    display: flex;
    text-align: left;

    .image {
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 65%;
        margin: 5px;

        img {
            width: 30%;
            height: 200px;
            margin: 10px;
            margin-top: 20px;
            border-radius: 5px;
            border: 2px solid orangered;
        }
    }

    .info {
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 35%;
        margin: 5px;

        button {
            border-radius: 5px;
            color: aqua;
            background-color: black;
        }

        span {
            border: 2px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            font-size: 20px;
            color: #f08d0c;
        }

        .click {
            cursor: pointer;
        }
    }
}

.more {
    display: flex;

    .book-detail {
        border: 2px solid #ccc;
        border-radius: 10px;
        text-align: left;
        margin: 5px;
        width: 65%;
    }

    .shop {
        border: 2px solid #ccc;
        border-radius: 10px;
        text-align: left;
        margin: 5px;
        width: 35%;
        display: flex;

        .shop-image {
            width: 35%;
            display: flex;
            justify-content: center;

            img {
                margin-top: 50px;
                height: 100px;
                border-radius: 5px;
                border: 1px solid orangered;
            }
        }

        .shop-info {
            width: 65%;

            .detail {
                margin-top: 50px;
                padding-left: 5px;

                .name {
                    font-size: larger;
                }

                .address {
                    font-weight: bolder;
                }
            }

            button {
                border-radius: 5px;
                color: aqua;
                background-color: black;
            }
        }

    }
}



.rate {
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
    padding: 5px;

    table {
        tr {
            td {
                width: 150px;
            }
        }
    }
}

.comment {
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
    display: grid;

    label {
        font-size: 20px;
    }

    .view-comment {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px;
        padding-left: 10px;

        table {
            .name {
                width: 100px;
            }

            td {
                width: 1000px;
            }
        }
    }

    .form {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        text-align: left;

        .button {
            border-radius: 5px;
            color: aqua;
            background-color: black;
            padding: 0;
        }

        input {
            padding: 0;
            margin-bottom: 5px;
        }
    }
}



li {
    list-style: none;
}