.login {
    text-align: center;

    .form {
        .button {
            margin: 5px;
            border-radius: 5px;
            color: aqua;
            background-color: black;
        }
    }
}